<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alivc.live.baselive_push">

    <application>
        <activity
            android:name=".ui.PushConfigActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AVPushTheme" />
        <activity
            android:name=".test.InformationActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AVPushTheme" />
        <activity
            android:name=".ui.LivePushActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>