*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
build
info
outDoc
alivc-publish.gradle
*/build
AUIFlowFeed/build
AUIFullScreen/build
AUIPlayerApp/build
AUIVideoCommon/AliyunListPlayer/build
AUIVideoCommon/AliyunPlayerBase/build
AUIVideoCommon/AliyunVideoCommon/build