*.iml
.gradle
/local.properties
*.idea/
*.vscode/
log/
*.log
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
*.project
*.settings/
*.classpath
AndroidThirdParty/
AUIFoundation/
perf/
out/
outZip/
test.*
AlivcPlayerSolution_Android/