<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aliyun.svideo.editor">

    <application>

        <activity
            android:name=".AUIVideoEditorActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:theme="@style/AVAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".AUIVideoEditorComposeActivity"
            android:exported="true"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AVAppTheme" />
        <activity
            android:name=".publish.AUIPublishActivity"
            android:exported="true"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AVAppTheme" />
    </application>

</manifest>